@{
    ViewData["Title"] = "Bem Vindo!";
}

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <div id="myCarousel" class="carousel carousel-slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn how to build ASP.NET apps that can run anywhere.
                            <a class="btn btn-default text-light" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            There are powerful new features in Visual Studio for building modern web apps.
                            <a class="btn btn-default text-light" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                            <a class="btn btn-default text-light" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="carousel-item-prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="carousel-item-next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
